<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

  <responsive-child class="map-container">
    <div class="outmost">
      <section class="chatter">
        <h1>Crime rate down in most Seattle neighborhoods</h1>
        <p>The crime rate has gone down in more than half of Seattle’s neighborhoods since the start of the decade. While Pioneer Square had the biggest decline, due to a sharp drop in the property crime rate, it also had the city’s largest increase in violent crime rate.</p>
      </section>

      <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">

          <leaflet-map zoom=10.75>
            <map-options>{ "zoomSnap": 0.25 }</map-options>
            <tile-layer layer="cartoPositronBlank"></tile-layer>
            <geo-json src="assets/crime-rate-change.geo.json">
              <geo-style>{ "weight": 1, "color": "#000", "opacity":0.1 }</geo-style>
              <geo-palette property="CENSUSAREA">
                <color-mapping max=10000 color="purple"></color-mapping>
                <color-mapping min=10001 max=50000 color="blue"></color-mapping>
                <color-mapping min=50001 max=100000 color="green"></color-mapping>
                <color-mapping min=100001 max=200000 color="yellow"></color-mapping>
                <color-mapping min=200001 color="orange"></color-mapping>
              </geo-palette>
              <geo-popup>
                <h1 class="bigheader">{{name}}</h1>
                <ul>
                  <li><span>Total crime rate change:</span><span>{{change-total}}%</span></li>
                  <li><span>Violent crime rate change:</span><span>{{change-violent}}%</span></li>
                  <li><span>Property crime rate change:</span><span>{{change-property}}%</span></li>
                  <li><span>Crime rate, 2015-2017:</span><span>{{rate-recent}}</span></li>
                  <li>(crimes per 1,000 people per year)</li>
                </ul>
              </geo-popup>
            </geo-json>
          </leaflet-map>

        </div>
        <aside class="legend">
          <h1>Map legend</h1>
          <ul class="scale">
            <li>
              <span class="block" style="background-color: red"></span> Cherry</li>
            <li>
              <span class="block" style="background-color: orange"></span> Orange</li>
            <li>
              <span class="block" style="background-color: yellow"></span> Lemon</li>
            <li>
              <span class="block" style="background-color: green"></span> Lime</li>
            <li>
              <span class="block" style="background-color: blue"></span> Blueberry</li>
          </ul>
        </aside>
      </div>


      <div class="source">Sources: Seattle Police Department, Washington Office of Financial Management
        <span class="credit">Alec Glassford / THE SEATTLE TIMES</div>
    </div>
  </responsive-child>

  <script src="app.js"></script>
  <% /*= t.include("partials/_foot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
</body>

</html>
