<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

  <responsive-child class="map-container">
    <div class="outmost">
      <section class="chatter">
        <h1>Crime rate down in most Seattle neighborhoods</h1>
        <p>The crime rate has gone down in more than half of Seattle’s neighborhoods since the start of the decade. While Pioneer Square had the biggest decline, due to a sharp drop in the property crime rate, it also had the city’s largest increase in violent crime rate.</p>
      </section>

      <div class="mode-controls">
        <% [
            { data: "change-total", label: "Overall" },
            { data: "change-property", label: "Property crime" },
            { data: "change-violent", label: "Violent crime" },
          ].forEach(function(input, i) { %>
        <input id="<%= input.data %>" type="radio" name="mode" value="<%= input.data %>" <%=! i ? "checked" : "" %>>
        <label for="<%= input.data %>">
          <%= input.label %>
        </label>
        <% }); %>
      </div>

      <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">

          <leaflet-map zoom=10.75 lat=47.614 lng=-122.333>
            <map-options>{ "zoomSnap": 0.25 }</map-options>
            <tile-layer layer="cartoPositronBlank"></tile-layer>
            <geo-json id="geojson">
              <geo-data><%= JSON.stringify(json.crc2) %></geo-data>
              <geo-style>{ "weight": 1, "color": "#000", "opacity":0.1, "fillOpacity": 0.6, "fillColor": "transparent" }</geo-style>
              <geo-popup>
                <h1 class="bigheader">{{name}}</h1>
                <ul>
                  <li><span>Total crime rate change:</span><span>{{change-total}}%</span></li>
                  <li><span>Violent crime rate change:</span><span>{{change-violent}}%</span></li>
                  <li><span>Property crime rate change:</span><span>{{change-property}}%</span></li>
                  <li>&nbsp;</li>
                  <li><span>Crime rate ranking, 2015-2017:</span><span>{{rate-rank}}</span></li>
                  <li>(1 = relatively high, 57 = relatively low)</li>
                </ul>
              </geo-popup>
            </geo-json>
          </leaflet-map>

        </div>
        <aside class="legend">
        </aside>
      </div>


      <div class="source">Sources: Seattle Police Department, Washington Office of Financial Management
        <span class="credit">Alec Glassford / THE SEATTLE TIMES</div>
    </div>
  </responsive-child>

  <script src="app.js"></script>
  <% /*= t.include("partials/_foot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
</body>

</html>
